
{% block title %}
<head>
    <title>Zipher Total - Job Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% endblock %}
<!-- CSS only -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" >
  <div class="container">
  <a class="navbar-brand" href="{% url 'home' %}">Zipher Job Cards</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link " href="{% url 'home' %}">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{% url 'jobCard' %}">Job Cards </a>
    </li>
    <li class="nav-item">
      <a class="nav-link ">        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link ">        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link ">        </a>
    </li>


  </ul>
</div>
</nav>

<br>
<br>
{% block content %}
{% endblock %}